    {{!-- <link rel="stylesheet" type="text/css" href="./assets/css/styles.css"> --}}

    <title>Giggit HOME</title>
</head>
<body>

    {{!-- <link rel="stylesheet" type="text/css" href="./assets/css/styles.css"> --}}

    <title>Giggit HOME</title>
</head>
<body>
