<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
</head>
<body>

    <p>This page is for businesses to browse other businesses on the site, simply because the search bar is always going to be in the top of the screen.</p>
    <p>
        Unlike the user-search page, this page is visual only and the business cannot click on other businesses, only view their info.
    </p>
    <p>We will display business names and bio here for all businesses in the selected category after they do a search.</p>
    
</body>
</html>