<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Profile</title>
</head>
<body>

    This page is for businesses to edit or update their bio, business name, username, user password, or category.
    <script type='text/javascript'>
    console.log('BUSINESS-EDIT: This is a settings page where business users can update or edit their bio, business name, username, user password, category, and other login information.')
    </script>
</body>
</html>