<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giggit!</title>
</head>
<body>
    
This page displays the results when a user searches for businesses by category. Will show all businesses in the category selected, and if a business is clicked it will redirect the user to that business' page via 'user-business.handlebars'

</body>
</html>